{% extends "base_public.html" %}
{% block content %}
<h3 class="mb-4 text-center">Choose a New Password</h3>
<form method="POST" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label class="form-label">New Password</label>
        <input name="password" type="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm New Password</label>
        <input name="password2" type="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
</form>
{% endblock %}